In [ ]:
import numpy as np
import pandas as pd
df=pd.read_csv('/content/drive/MyDrive/computational sataistics/quikr_car.csv')
df.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [ ]:
df.describe()

              name company  year          Price  kms_driven fuel_type
count          892     892   892            892         840       837
unique         525      48    61            274         258         3
top     Honda City  Maruti  2015  Ask For Price  45,000 kms    Petrol
freq            13     235   117             35          30       440

In [ ]:
len(df.columns)

6

In [ ]:
len(df.index)

892

In [ ]:
missing_values=df.isnull().sum()
print("Missing values in columns:")
print(missing_values)

Missing values in columns:
name           0
company        0
year           0
Price          0
kms_driven    52
fuel_type     55
dtype: int64

In [ ]:
df.dropna(inplace=True)
missing_values=df.isnull().sum()
print("Missing values in columns:")
print(missing_values)

Missing values in columns:
name          0
company       0
year          0
Price         0
kms_driven    0
fuel_type     0
dtype: int64

In [ ]:
df.fillna(df.mean(),inplace=True)
missing_values=df.isnull().sum()
print("Missing values in columns:")
print(missing_values)

Missing values in columns:
name          0
company       0
year          0
Price         0
kms_driven    0
fuel_type     0
dtype: int64

<ipython-input-93-3ff4e3f66978>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.fillna(df.mean(),inplace=True)

In [ ]:
kms_driven = df.columns[df.isnull().any()].tolist()
min_values = df.min()
max_values= df.max()
for col in kms_driven:
    min_val = min_values[col]
    max_val = max_values[col]
    df[col].fillna(min_val, inplace=True)
    missing_values=df.isnull().sum()
print("Missing values in columns:")
print(missing_values)

Missing values in columns:
name          0
company       0
year          0
Price         0
kms_driven    0
fuel_type     0
dtype: int64

In [ ]:
df.dtypes

name          object
company       object
year          object
Price         object
kms_driven    object
fuel_type     object
dtype: object

In [ ]:
target=df.Price
target

0             80,000
1           4,25,000
2      Ask For Price
3           3,25,000
4           5,75,000
           ...
883         2,70,000
885         1,10,000
886         3,00,000
888         2,60,000
889         3,90,000
Name: Price, Length: 837, dtype: object

In [ ]:
df['Price'] = df['Price'].replace('[\$,]', '', regex=True)
df['Price'] = pd.to_numeric(df['Price'], errors='coerce')
print(df)

                                       name   company  year     Price  \
0      Hyundai Santro Xing XO eRLX Euro III   Hyundai  2007   80000.0
1                   Mahindra Jeep CL550 MDI  Mahindra  2006  425000.0
2                Maruti Suzuki Alto 800 Vxi    Maruti  2018       NaN
3    Hyundai Grand i10 Magna 1.2 Kappa VTVT   Hyundai  2014  325000.0
4          Ford EcoSport Titanium 1.5L TDCi      Ford  2014  575000.0
..                                      ...       ...   ...       ...
883              Maruti Suzuki Ritz VXI ABS    Maruti  2011  270000.0
885               Tata Indica V2 DLE BS III      Tata  2009  110000.0
886                    Toyota Corolla Altis    Toyota  2009  300000.0
888                     Tata Zest XM Diesel      Tata  2018  260000.0
889                      Mahindra Quanto C8  Mahindra  2013  390000.0

       kms_driven fuel_type
0      45,000 kms    Petrol
1          40 kms    Diesel
2      22,000 kms    Petrol
3      28,000 kms    Petrol
4      36,000 kms    Diesel
..            ...       ...
883    50,000 kms    Petrol
885    30,000 kms    Diesel
886  1,32,000 kms    Petrol
888    27,000 kms    Diesel
889    40,000 kms    Diesel

[837 rows x 6 columns]

In [ ]:
df['year']=df['year'].astype(float)

In [ ]:
df.dtypes

name           object
company        object
year          float64
Price         float64
kms_driven     object
fuel_type      object
dtype: object

In [ ]:
print(df['fuel_type'].unique())
df['fuel_type'].value_counts()

['Petrol' 'Diesel' 'LPG']

Petrol    440
Diesel    395
LPG         2
Name: fuel_type, dtype: int64

In [ ]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
df['fuel_type_encoded'] = label_encoder.fit_transform(df['fuel_type'])
print(df)

                                       name   company    year     Price  \
0      Hyundai Santro Xing XO eRLX Euro III   Hyundai  2007.0   80000.0
1                   Mahindra Jeep CL550 MDI  Mahindra  2006.0  425000.0
2                Maruti Suzuki Alto 800 Vxi    Maruti  2018.0       NaN
3    Hyundai Grand i10 Magna 1.2 Kappa VTVT   Hyundai  2014.0  325000.0
4          Ford EcoSport Titanium 1.5L TDCi      Ford  2014.0  575000.0
..                                      ...       ...     ...       ...
883              Maruti Suzuki Ritz VXI ABS    Maruti  2011.0  270000.0
885               Tata Indica V2 DLE BS III      Tata  2009.0  110000.0
886                    Toyota Corolla Altis    Toyota  2009.0  300000.0
888                     Tata Zest XM Diesel      Tata  2018.0  260000.0
889                      Mahindra Quanto C8  Mahindra  2013.0  390000.0

       kms_driven fuel_type  fuel_type_encoded
0      45,000 kms    Petrol                  2
1          40 kms    Diesel                  0
2      22,000 kms    Petrol                  2
3      28,000 kms    Petrol                  2
4      36,000 kms    Diesel                  0
..            ...       ...                ...
883    50,000 kms    Petrol                  2
885    30,000 kms    Diesel                  0
886  1,32,000 kms    Petrol                  2
888    27,000 kms    Diesel                  0
889    40,000 kms    Diesel                  0

[837 rows x 7 columns]

In [ ]:
df.dtypes

name                  object
company               object
year                 float64
Price                float64
kms_driven            object
fuel_type             object
fuel_type_encoded      int64
dtype: object

In [ ]:
df.drop('fuel_type',axis='columns')

,name,company,year,Price,kms_driven,fuel_type_encoded
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007.0,80000.0,"45,000 kms",2
1,Mahindra Jeep CL550 MDI,Mahindra,2006.0,425000.0,40 kms,0
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018.0,NaN,"22,000 kms",2
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014.0,325000.0,"28,000 kms",2
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014.0,575000.0,"36,000 kms",0
...,...,...,...,...,...,...
883,Maruti Suzuki Ritz VXI ABS,Maruti,2011.0,270000.0,"50,000 kms",2
885,Tata Indica V2 DLE BS III,Tata,2009.0,110000.0,"30,000 kms",0
886,Toyota Corolla Altis,Toyota,2009.0,300000.0,"1,32,000 kms",2
888,Tata Zest XM Diesel,Tata,2018.0,260000.0,"27,000 kms",0
889,Mahindra Quanto C8,Mahindra,2013.0,390000.0,"40,000 kms",0

In [ ]:
df['kms_driven'] = df['kms_driven'].replace('[^\d.]', '', regex=True).astype(float)

In [ ]:
df.dtypes

name                  object
company               object
year                 float64
Price                float64
kms_driven           float64
fuel_type             object
fuel_type_encoded      int64
dtype: object

In [ ]:
df.drop(columns=['fuel_type'],inplace=True)

In [ ]:
df.dtypes

name                  object
company               object
year                 float64
Price                float64
kms_driven           float64
fuel_type_encoded      int64
dtype: object

In [ ]:
label_encoder = LabelEncoder()
df['company_label_encoded'] = label_encoder.fit_transform(df['company'])

In [ ]:
df.dtypes

name                      object
company                   object
year                     float64
Price                    float64
kms_driven               float64
fuel_type_encoded          int64
company_label_encoded      int64
dtype: object

In [ ]:
df.drop(columns=['company'],inplace=True)

In [ ]:
df.dtypes

name                      object
year                     float64
Price                    float64
kms_driven               float64
fuel_type_encoded          int64
company_label_encoded      int64
dtype: object

In [ ]:
df_cleaning = df.dropna()

In [ ]:
df.dtypes

name                     float64
year                     float64
Price                    float64
kms_driven               float64
fuel_type_encoded          int64
company_label_encoded      int64
dtype: object

In [ ]:
df.head()

,name,year,Price,kms_driven,fuel_type_encoded,company_label_encoded
0,NaN,2007.0,80000.0,45000.0,2,9
1,550.0,2006.0,425000.0,40.0,0,13
2,800.0,2018.0,NaN,22000.0,2,14
3,10.0,2014.0,325000.0,28000.0,2,9
4,1.0,2014.0,575000.0,36000.0,0,6

In [ ]:
df_cleaned = df.dropna(subset=['Price'])

print(df_cleaned)

      name    year     Price  kms_driven  fuel_type_encoded  \
0      NaN  2007.0   80000.0     45000.0                  2
1    550.0  2006.0  425000.0        40.0                  0
3     10.0  2014.0  325000.0     28000.0                  2
4      1.0  2014.0  575000.0     36000.0                  0
6      NaN  2012.0  175000.0     41000.0                  0
..     ...     ...       ...         ...                ...
883    NaN  2011.0  270000.0     50000.0                  2
885    2.0  2009.0  110000.0     30000.0                  0
886    NaN  2009.0  300000.0    132000.0                  2
888    NaN  2018.0  260000.0     27000.0                  0
889    8.0  2013.0  390000.0     40000.0                  0

     company_label_encoded
0                        9
1                       13
3                        9
4                        6
6                        6
..                     ...
883                     14
885                     21
886                     22
888                     21
889                     13

[816 rows x 6 columns]